---
kind: Deployment
apiVersion: extensions/v1beta1
metadata:
  name: {{ template "traefik.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ template "traefik.name" . }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    k8s-app: {{ template "traefik.fullname" . }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      k8s-app: {{ template "traefik.fullname" . }}
  template:
    metadata:
      labels:
        k8s-app: {{ template "traefik.fullname" . }}
        name: {{ template "traefik.fullname" . }}
    spec:
      serviceAccountName: {{ template "traefik.fullname" . }}-sa
      terminationGracePeriodSeconds: 60
      containers:
      - name: traefik-ingress-lb
        image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
        args:
{{ toYaml .Values.image.args | indent 8 }}
        resources:
{{ toYaml .Values.resources | indent 10 }}
        livenessProbe:
          httpGet:
            path: /
            port: 8080
            scheme: HTTP
        readinessProbe:
          httpGet:
            path: /
            port: 8080
            scheme: HTTP
