{{- if .Values.ingress.enabled -}}
{{- $fullname := include "traefik.fullname" . -}}
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{ $fullname }}-ing
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ template "traefik.name" . }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    {{- range $key, $val := .Values.ingress.labels }}
    {{ $key }}: {{ $val | quote }}
    {{- end }}
  annotations:
    {{- range $key, $val := .Values.ingress.annotations }}
      {{ $key }}: {{ $val | quote }}
    {{- end }}
spec:
  rules:
    {{- range $host := .Values.ingress.hosts }}
    - host: {{ $host }}
      http:
        paths:
          - path: /
            backend:
              serviceName: {{ $fullname }}-svc-admin
              servicePort: {{ $.Values.services.admin.port }}
    {{- end -}}
{{- end -}}
