image:
  repository: bitnamisecure/kubectl
  tag: latest
  pullPolicy: IfNotPresent

job:
  startingDeadlineSeconds: 300
  schedule: 59 23 * * *
  history:
    completed: 5
    failed: 5

pvc: pvc-to-snapshot
maxKeep: 30 days
volumeSnapshotClassName: gke-vol-snapshot
