image:
  repository: bitnamilegacy/phpmyadmin
  tag: 5.2.2-debian-12-r23

commonLabels:
  lb-type: priv

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: traefik
  hostname: phpmyadmin.example.com

resources:
  limits:
    cpu: 50m
    memory: 128Mi
  requests:
    cpu: 20m
    memory: 64Mi
