---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: {{ template "kube-ingwatcher.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ template "kube-ingwatcher.name" . }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicaCount }}
  template:
    metadata:
      labels:
        app: {{ template "kube-ingwatcher.name" . }}
        release: {{ .Release.Name }}
    spec:
      {{- if .Values.rbacEnabled }}
      serviceAccountName: {{ template "kube-ingwatcher.fullname" . }}-sa
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
{{ toYaml .Values.ingressSenderArgs | indent 12 }}
            - --addr={{ .Values.target.addr }}
            - --port={{ .Values.target.port }}
          resources:
{{ toYaml .Values.resources | indent 12 }}
