[Unit]
Description=Kube-ingwatcher receiver service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/usr/local
ExecStart=/usr/local/bin/kube-ingwatcher ingressReceiver -p @@INGRESS_RECEIVER_PORT@@ -t /etc/nginx/nginx.tpl -d /etc/nginx/conf.d -A /usr/local/bin/ingress-add.sh -D /usr/local/bin/ingress-del.sh -P ssl- -s .conf
Restart=on-abort

[Install]
WantedBy=multi-user.target
