---
traefik:
  deployment:
    replicas: 2

  # Allow access to dashboard using port-forward
  additionalArguments:
    - --api.insecure=true

  providers:
    kubernetesCRD:
      enabled: false
    kubernetesIngress:
      labelSelector: lb-type=pub

  logs:
    general:
      level: INFO

  globalArguments:
    - "--global.checknewversion"

  ports:
    traefik:
      port: 9000
      expose: false
    web:
      port: 30080
      nodePort: 30080
      exposedPort: 30080
    websecure:
      expose: false

  service:
    type: NodePort

  resources:
    requests:
      cpu: 100m
      memory: 32Mi
    limits:
      cpu: 200m
      memory: 64Mi
