apiVersion: apps/v1beta2
kind: Deployment
metadata:
  name: {{ template "compte.fullname" . }}
  labels:
    app: {{ template "compte.name" . }}
    chart: {{ template "compte.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ template "compte.name" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ template "compte.name" . }}
        release: {{ .Release.Name }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
          - name: DB_USER
            valueFrom:
              secretKeyRef:
                name: {{ template "compte.fullname" . }}
                key: db-user
          - name: DB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: {{ template "compte.fullname" . }}
                key: db-password
          - name: DB_ADDR
            value: {{ .Values.db.addr }}
          - name: DB_NAME
            value: {{ .Values.db.name }}
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: http
          readinessProbe:
            httpGet:
              path: /
              port: http
          resources:
{{ toYaml .Values.resources | indent 12 }}
